.dropdown-component
{
    display: inline-block;
    text-align: left;
    padding: 32px 30px 32px 0px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

.dropdown-component .dropdown-label
{
    display: block;
    color: #0d3f5e;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: default;
}

.dropdown-component .dropdown-input-wrapper
{
    position: relative;
}

.dropdown-component .dropdown-input
{
    display: block;
    border: 1px solid #0d3f5e;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    width: 620px;
    height: 72px;
    max-width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    color: #0d3f5e;
}

.dropdown-component .dropdown-input-wrapper:hover .dropdown-input
{
    border: 1px solid #008eb1;
}

.dropdown-component .dropdown-input-wrapper .input-icon
{
    position: absolute;
    top: 21px;
    right: 9px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2px 3px;
    border-radius: 3px;
    text-align: center;
    color: #0d3f5e;
    box-sizing: content-box;
    cursor: pointer;
}


.dropdown-component .dropdown-input-wrapper:hover  .input-icon
{
}

.dropdown-component .dropdown-inner
{
    position: relative;
}

.dropdown-component .dropdown
{
    position: absolute;
    top: 72px;
    left: 0;
    width: 620px;
    max-width: 100%;
    min-height: 176px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 0px #00000082;
    background: #fff;
    z-index: 50;
}

.dropdown-component .dropdown-list
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* max-height:  173px; */
    max-height: 305px;
    overflow: auto;
    list-style: none;
}

.dropdown-component .dropdown-list-item
{
    margin: 0;
    padding: 13px 13px;
    height: 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    cursor: default;
    color: #0d3f5e;
    font-size: 19px;
}

.dropdown-component:hover .dropdown-list-item:not(.active):not(:hover)
{
    color: #0d3f5e;
}

.dropdown-component .dropdown-list-item:hover
{
    background: #f2fafc;
    color: #117b94 ;
}

.dropdown-component .dropdown-list-item.active
{
    background: #0d3f5e;
    color: #fff;
}


.dropdown-component.disabled .dropdown-label
{
    color: #7a7a80;
}

.dropdown-component.disabled .dropdown-input,.dropdown-component.disabled:hover .dropdown-input
{
    border: 1px solid #75757b;
    background: #e9e9e7;
    color: #8d8d92;
    cursor: not-allowed;
}

.dropdown-component.disabled .input-icon,.dropdown-component.disabled:hover .input-icon
{
    border: 1.5px solid #75757b;
    color: #75757b;
    cursor: not-allowed;
}