.Button-Style
{
    padding: 25px 5px;
    margin: 8px 0;
    text-align: center;
    color: #033d5e;
    font-size: 22px;
    line-height: 20px;
    font-weight: 600;
    width: 100%;
    max-width: 660px;
    height: auto;
    border: 1px solid #0d3f5e;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Blue-Button-Style
{
    color: #fff;
    border: 1px solid #5ca2ff;
    background-color: #5ca2ff;
}

.Green-Button-Style
{
    color: #fff;
    border: 1px solid #0d3f5e;
    background-color: #23b16e;
}

.Button-Style:hover, .Blue-Button-Style:hover
{
    box-shadow: 0px 0px 2px 0px #000;
}

.Button-Style:active, .Blue-Button-Style:active
{
    box-shadow: 0px 1px 3px 0px #000;
}