.Auth-Wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    min-height: 100vh;
}
.Auth-Intro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    min-height: 100vh;
    padding: 25px 0 0;
    box-sizing: border-box;
}

.Auth-Part
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.Auth-Part-Top
{
    background-color: transparent;
    min-height: 173px;
    margin-bottom: 70px;
}

.Type2 > .Auth-Part-Top
{
    /* background-color: #1a425e; */
}

.Type3 > .Auth-Part-Top
{
}

.Auth-Part-Bottom
{
    padding: 15px 20px;
}


.Auth-Logo
{
    max-width: 90%;
    width: auto;
}

.Auth-Logo-After
{
    max-width: 80%;
    margin-bottom: auto;
}

.Scroll-Img
{
    display: block;
    width: 30px;
    margin: 20px auto 0;
}