.Profile-Wrapper
{
}

.Profile-Text
{
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    color: #0D3F5E;
}

.Profile-Part
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.Safe-Card
{
    margin: 40px 0;
}
