.IconedButton-Style
{
    padding: 25px 5px;
    margin: 8px 0;
    text-align: center;
    color: #033d5e;
    font-size: 22px;
    line-height: 20px;
    font-weight: 400;
    max-width: 100%;
    width: 660px;
    height: auto;
    border: 1px solid #0d3f5e;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.IconedButton-Style:hover
{
    box-shadow: 0px 0px 2px 0px #000;
}

.IconedButton-Style:active
{
    box-shadow: 0px 1px 3px 0px #000;
}

.IconedButton-Icon
{
    margin: 0 10px;
}