.InfoCard-Wrapper
{
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid #4cc937;
    max-width: 660px;
}

.InfoCard-Title
{
    background-color: #4cc937;
    color: #fff;
    font-size: 43px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    min-height: 78px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.InfoCard-Content
{
    background-color: #ffffff;
    padding: 30px 20px 25px 25px;
    text-align: left;
    color: #0D3F5E;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}