.Home-Wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 10px;
}

.Home-Footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 660px;
}

.Home-Menu
{
    margin: 35px 0;
}