.RadioSwitcher-Wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 660px;
}

.RadioSwitcher-Label
{
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    color: #033d5e;
}