.calendar-dropdown
{
    /* position: absolute;
    top: 45px;
    left: 0; */
    width: 300px;
    max-width: 100%;
    min-height: 176px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 0px #00000082;
    background: #fff;
    z-index: 50;
    transition: all 0.5s;
}

.calendar
{
    width: 372px;
    max-width: initial;
    flex-direction: column;
}

.calendarHeader
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
    padding: 15px 15px;
    border-bottom: 1px solid #a3cadb;
    box-sizing: border-box;
    user-select: none;
}

.calendarBody
{
    
}

.calendarHeader .inputIcon
{
    margin: 0 20px;
}

.weekDays
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.weekDay
{  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    height: 33px;
    margin: 3px;
    color: #666663;
    font-weight: 500;
    cursor: default;
}

.numberDays
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.numberDayWrapper
{
    width: calc(100% / 7);
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.numberDay
{
    width: 32px;
    height: 32px;
    min-width: auto;
    min-height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0;
    border-radius: 50%;
    background: #fff;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 600;
    color: #0d3f5e;
    cursor: pointer;
    outline: none;
    position: relative;
    text-decoration: none;
}

.numberDay:focus
{
    border: 1px solid transparent;
    box-shadow: none;
}


.numberDay:focus:after
{
    content: '';
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #1c6ef2;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
    box-sizing: content-box;
}

.numberDay:hover
{
    border: 1px solid #00728d;
    color: #00728d;
    background-color: #fff;
}

.numberDay.disabled, .numberDay.disabled:focus, .numberDay.disabled:hover
{
    cursor: not-allowed;
    border: none;
    outline: none;
    opacity: 0.4;
    background: transparent;
}
.numberDay.disabled:after 
{
    content: none;
}

.prevMonthDay
{
    color: #75757b;
}

.nextMonthDay
{
    color: #75757b;
}

.numberDay.selectedDay, .numberDay.selectedDay:hover, .numberDay.selectedDay:focus
{
    background: #0d3f5e;
    color: #fff;
    border-radius: 50%;
}

.selectedDay.prevMonthDay, .selectedDay.nextMonthDay
{
    opacity: 0.8;
}

.calendarLabel
{
    margin: 0px 0px;
    width: auto;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #0d3f5e;
    text-align: left;
}

.inputIcon
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-align: center;
    color: #0d3f5e;
    box-sizing: content-box;
    cursor: pointer;
}