.Meetings-Wrapper
{
}

.Meetings-Text
{
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    color: #0D3F5E;
}

.Meetings-Form
{
    margin-top: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Meetings-Part
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 100px;
}
.Meetings-Part:last-child
{
    margin-bottom: 0;
}


.Meetings-List
{
    width: 100%;
    margin-top: 90px;
}

.Meetings-List-Item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 15px 0;
}

.Meetings-Item-User
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.Meetings-User-Image
{

}
.Meetings-User-Name
{
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    margin: 0 0 0 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Meetings-item-Remove
{
    font-size: 26px;
    cursor: pointer;
    margin-right: 12px;
}