.CheckboxButton-Wrapper
{
    display: inline-block;
    padding: 15px 5px;
    margin: 8px 0 0;
    text-align: center;
    color: #033d5e;
    font-size: 22px;
    line-height: 20px;
    font-weight: 500;
    width: 100%;
    max-width: 660px;
    height: auto;
    border: 1px solid #0d3f5e;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.CheckboxButton-Wrapper.selected
{
    background-color: #033d5e;
    color: #fff;
}