.textInputComponent
{
    display: inline-block;
    text-align: left;
    padding: 6px 30px 32px 0px;
    font-family: 'Effra', sans-serif;
    max-width: 100%;
}

.labelsWrapper
{
    display: flex;
    flex-direction: row;
}

.guardianLabel
{
    display: block;
    color: #0d3f5e;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: default;
}

.optionalLabel
{
    color: #2B2B2B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 8px;
    margin-bottom: 10px;
}

.textInputInner
{
    position: relative;
}

.textInputInputWrapper
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textInputInput
{
    display: block;
    border: 1px solid #0d3f5e;
    border-radius: 12px;
    outline: none;
    cursor: text;
    width: 620px;
    height: 72px;
    max-width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    font-size: 15px;
    color: #2b2b2b;
    background: #fff;
}

.textInputInput:hover
{
    border: 1px solid #008EB1;
}

.textInputInput:active
{
    border: 1px solid #00728D;
}

.textInputInput:focus
{
    box-shadow: 0px 0px 8px 1px #1C6EF2;   
}

.error .textInputInput
{
    border: 2px solid #BC3D19;
}

.success .textInputInput
{
    border: 2px solid #0CA766;
}

.errorMessage
{
    color: #BC3D19;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.errorMessageIcon
{
    font-size: 20px;
    margin-right: 12px;
}

.successIcon
{
    color: #0CA766;
    font-size: 20px;
    margin-left: 12px;
}

.optionalDescription
{
    color: #2B2B2B;
    margin-top: 12px;
    max-width: 300px;
    font-size: 15px;
    font-weight: 400;
}


.disabled .textInputInput
{
    background: #E9E9E7;
    border: 1px solid #75757B;
    cursor: not-allowed;
}