.Questions-Wrapper
{
    max-width: 85%;
    padding: 15px 15px 15px 30px;
}

.Questions-Logo
{
    width: 220px;
    max-width: 100%;
    margin-bottom: 40px;
}
.Questions-Green-Text
{
    font-weight: 600;
    font-size: 17px;
    color: #4cc937;
}

.Questions-Text
{
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    margin: 0 0 30px 0;
    color: #0D3F5E;
}

.Questions-Form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.Form-Part
{
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}