.datepickerComponent
{
    display: inline-block;
    text-align: left;
    padding: 32px 30px 32px 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

.datepickerLabel
{
    display: block;
    width: auto;
    color: #0d3f5e;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: default;
    text-align: left;
}

.datepickerInputWrapper
{
    position: relative;
    z-index: 100;
    display: block;
}

.datepickerInput
{
    display: block;
    border: 1px solid #0d3f5e;
    border-radius: 12px;
    outline: none;
    width: 620px;
    height: 72px;
    max-width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    cursor: text;
    background: #fff;
    font-size: 20px;
    font-weight: 500;
    color: #0d3f5e;
}

.datepickerInput:focus 
{
    border: 1px solid #0d3f5e;
}

.datepickerInputWrapper:hover .datepickerInput
{
    border: 1px solid #008eb1;
}

.inputIcon
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-align: center;
    color: #0d3f5e;
    box-sizing: content-box;
    cursor: pointer;
    margin-right: 0;
}


.datepickerInputWrapper .inputIcon
{
    position: absolute;
    top: 21px;
    right: 9px;
    margin-right: 0;
    font-size: 30px;
    padding: 2px 3px;
}

.datepickerInputWrapper:hover  .inputIcon
{
    color: #008eb1;
}

.datepickerInner
{
    position: relative;
}



.custom-backdrop {
    background-color: transparent;
}

.datepickerComponent.disabled .dropdownLabel
{
    color: #7a7a80;
}

.datepickerComponent.disabled .datepickerInput, .datepickerComponent.disabled:hover .datepickerInput
{
    border: 1px solid #75757b;
    background: #e9e9e7;
    color: #8d8d92;
    cursor: not-allowed;
}

.datepickerComponent.disabled .inputIcon, .datepickerComponent.disabled:hover .inputIcon
{
    border: 1.5px solid #75757b;
    color: #75757b;
    cursor: not-allowed;
}

.datepickerPreDescription {
    font-weight: 600;
    color: #000;
    margin-right: 25px;
}

.datepickerComponent.calendarOpened .datepickerInputWrapper
{
 z-index: 110;
}