.Toggle-switch {
    position: relative;
    margin-right: 10px;
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left; }
    .Toggle-switch-checkbox {
      display: none; }
    .Toggle-switch-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
      margin: 0; }
      .Toggle-switch-label:focus {
        outline: none; }
        .Toggle-switch-label:focus > span {
          box-shadow: 0 0 2px 5px red; }
      .Toggle-switch-label > span:focus {
        outline: none; }
    .Toggle-switch-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s; }
      .Toggle-switch-inner:before, .Toggle-switch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 34px;
        padding: 0;
        line-height: 34px;
        font-size: 14px;
        color: white;
        font-weight: bold;
        box-sizing: border-box; }
      .Toggle-switch-inner:before {
        content: attr(data-yes);
        text-transform: uppercase;
        padding-left: 10px;
        background-color: #033d5e;
        color: #fff; }
    .Toggle-switch-disabled {
      background-color: #ddd;
      cursor: not-allowed; }
      .Toggle-switch-disabled:before {
        background-color: #ddd;
        cursor: not-allowed; }
    .Toggle-switch-inner:after {
      content: attr(data-no);
      text-transform: uppercase;
      padding-right: 10px;
      background-color: #bbb;
      color: #fff;
      text-align: right; }
    .Toggle-switch-switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s; }
    .Toggle-switch-checkbox:checked + .Toggle-switch-label .Toggle-switch-inner {
      margin-left: 0; }
    .Toggle-switch-checkbox:checked + .Toggle-switch-label .Toggle-switch-switch {
      right: 0px; }
    .Toggle-switch.small-switch {
      width: 40px; }
      .Toggle-switch.small-switch .Toggle-switch-inner:after, .Toggle-switch.small-switch .Toggle-switch-inner:before {
        content: "";
        height: 20px;
        line-height: 20px; }
      .Toggle-switch.small-switch .Toggle-switch-switch {
        width: 16px;
        right: 20px;
        margin: 2px; }
    @media screen and (max-width: 991px) {
      .Toggle-switch {
        transform: scale(0.9); } }
    @media screen and (max-width: 767px) {
      .Toggle-switch {
        transform: scale(0.825); } }
    @media screen and (max-width: 575px) {
      .Toggle-switch {
        transform: scale(0.75); } }
  
  /*# sourceMappingURL=styles.css.map */