.loadingModal-component
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    margin: 0px;
    transition: all 1s;
    opacity: 1;
}

.loadingModal-loaded
{
    opacity: 0;
    z-index: -1;
}

.loadingModal-modalOverlay
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(13, 63, 94, 0.5);
    z-index: 1000;
}

.loadingModal-modal
{
    position: fixed;
    width: 437px;
    min-height: 100px;
    max-width: 87%;
    background: #fff;
    padding: 43px 60px 40px;
    box-sizing: border-box;
    z-index: 1001;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingModal-modalText
{
    color: #0d3f5e;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.loadingModal-Loader 
{
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 33px;
}
.loadingModal-Loader div 
{
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.loadingModal-Loader div:after 
{
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #0a2c41;
}
.loadingModal-Loader div:nth-child(1) 
{
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.loadingModal-Loader div:nth-child(2) 
{
    transform: rotate(45deg);
    animation-delay: -1s;
}
.loadingModal-Loader div:nth-child(3) 
{
    transform: rotate(90deg);
    animation-delay: -0.9s;
}
.loadingModal-Loader div:nth-child(4) 
{
    transform: rotate(135deg);
    animation-delay: -0.8s;
}
.loadingModal-Loader div:nth-child(5) 
{
    transform: rotate(180deg);
    animation-delay: -0.7s;
}
.loadingModal-Loader div:nth-child(6) 
{
    transform: rotate(225deg);
    animation-delay: -0.6s;
}
.loadingModal-Loader div:nth-child(7) 
{
    transform: rotate(270deg);
    animation-delay: -0.5s;
}
.loadingModal-Loader div:nth-child(8) 
{
    transform: rotate(315deg);
    animation-delay: -0.4s;
}
  
@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}



@media screen and (max-width: 450px) 
{
    .loadingModal-modal
    {
        padding: 64px 30px 48px;
    }
    .loadingModal-modalText
    {
        font-size: 18px;
    }
    .loadingModal-Loader 
    {
        width: 64px;
        height: 64px;
        margin-bottom: 25px;
    }
    .loadingModal-Loader div 
    {
        transform-origin: 32px 32px;
    }
}