.HomeMenu-Wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.HomeMenu-Circle
{
    border: 1px solid #033d5e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50%;
    font-size: 55px;
    color: #033d5e;
    transition: all 1s;
    margin-left: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 13px -3px #000;
}
.HomeMenu-Circle.Opened
{
    margin-left: 54px;
}

.HomeMenu-CircleOut
{
    width: 363px;
    min-width: 363px;
    height: 363px;
    background-color: #adfaa0;
}
.HomeMenu-CircleOut.Quaranteen
{
    background-color: #faf1bb;
}

.HomeMenu-CircleMiddle
{
    width: 255px;
    min-width: 255px;
    height: 255px;
    background-color: #faf1bb;
}
.HomeMenu-CircleMiddle.Quaranteen
{
    background-color: #ffd0b3;
}

.HomeMenu-CircleIn
{
    width: 142px;
    min-width: 142px;
    height: 142px;
    background-color: #ffd0b3;
    justify-content: center;
}
.HomeMenu-CircleIn.Quaranteen
{
    background-color: #ec6565;
}

.HomeMenu-Icon
{
    cursor: pointer;
    transition: all 1s;
    margin: 0px 5px;
}