.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: visible;
  z-index: 100;

}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.modal-backdrop-styles {
  background-color: rgba(0,0,0,0.3);
  z-index: 102;
}

.modal-box {
  position: fixed;
  top: 30%;
  left: 25%;
  min-height: 30%;
  width: 55%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index: 103;
  padding: 40px;
  transform: translateZ(0);
  border-radius: 12px;
}