.SideBar-Wrapper
{
    width: 90px;
    min-width: 90px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: inherit;
    box-shadow: -4px 0px 10px -2px #000;
    color: #0D3F5E;
    font-size: 38px;
}

.SideBar-Pos
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SideBar-PosTop
{
    padding-top: 60px;
    margin: 0 0 auto 0;
}
.SideBar-PosCenter
{
    margin-bottom: 50px;
}
.SideBar-PosBottom
{
    padding-bottom: 90px;
}

.SideBar-Icon
{
    cursor: pointer;
    margin-bottom: 20px;
    color: #0D3F5E;
}
.SideBar-Icon-Photo
{
    margin-bottom: 40px;
}

.SideBar-Icon-Wrapper
{
    color: #0D3F5E;
    width: 100%;
    cursor: pointer;
}

.SideBar-Icon-Wrapper.active > .SideBar-Icon
{
    display: block;
    width: 100% !important;    
    border-left: 4px solid #4cc937;
    color: #4cc937;
    box-sizing: border-box;
    padding-right: 4px;
}
