.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f0f3f4;
  overflow: hidden auto;
}

.App-Profile
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  min-width: 100%;
  box-sizing: content-box;
  overflow: hidden;
}

h2 {
  color: #0D3F5E;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.default-text
{
  text-align: left;
  font-weight: 600;
  font-size: 20px;
}