body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #033d5e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Page-MainWrapper
{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 710px;
  max-width: 100%;
  padding: 0px 30px 30px 30px;
  box-sizing: border-box;
  overflow: hidden auto;
  height: 100vh;
}